<% content_for :fa_dashboard do %>
  <div>
    <h1><i class="fa fa-dashboard"></i> 相册列表</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="#">相册管理</a></li>
  </ul>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body table-responsive" style="overflow: hidden;">
      	<div class="row">
          <div class="col-md-6 col-sm-12">
            <a class="btn btn-success" href="/admin/photos/new">上传相片</a>
          </div>
        </div>
      	<div class="row">
          <div class="col-md-12">
            <table class="table table-hover" id="sampleTable">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>文件名</th>
                  <th>云上链接</th>
                  <th>缩略图</th>
                  <th>简介</th>
                  <th>上传日期</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <% if @photos.present? %>
                  <% @photos.each_with_index do |photo, i| %>
                    <tr>
                      <td><%= i+1 %></td>
                      <td><%= photo['name'] %></td>
                      <td><%= link_to photo['oss_url'], photo['oss_url'] %></td>
                      <td><%= image_tag photo['oss_url'] %></td>
                      <td><%= photo['note'] %></td>
                      <td><%= format_date photo['created_at'] %></td>
                      <td><%= photo['enabled'] ? '展示中' : '已撤下' %></td>
                      <td>
                        <%= link_to '撤下', admin_photo_path(photo), method: :delete, data: { confirm: '确定撤下?' } if photo.enabled %>
                        <%= link_to '展示', admin_photo_set_enabled_path(photo), method: :post, data: { confirm: '确定展示?' } unless photo.enabled %>
                        <%= link_to '删除', admin_photo_delete_path(photo), method: :delete, data: {confirm: '确定删除?'} %>
                      </td>

                    </tr>
                  <% end %>
                <% else %>
                  <tr >
                    <td colspan="5">无数据</td>
                  </tr>
                <% end %>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <nav class="kaminari" aria-label="Page navigation" style="text-align: right;">
        <ul class="mui-flex flex-end pagination">
          <%= paginate @photos, params: {controller: 'admin/photos', action: 'index'}%>
        </ul>
      </nav>

    </div>
  </div>
</div>