<% content_for :fa_dashboard do %>
  <div>
    <h1><i class="app-menu__icon fa fa-file-text"></i>文章标签</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="#">文章管理</a></li>
  </ul>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body table-responsive" style="overflow: hidden;">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <a class="btn btn-success" href="/admin/article_tags/new">新建</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover" id="sampleTable">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>名称</th>
                  <th>英文简称</th>
                  <th>创建日期</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <% if @article_tags.present? %>
                  <% @article_tags.each_with_index do |tag, i| %>
                    <tr>
                      <td><%= i+1 %></td>
                      <td><%= tag.name %></td>
                      <td><%= tag.code %></td>
                      <td><%= format_date tag.created_at %></td>
                      <td><%= tag.enabled ? '使用中' : '废弃' %>
                      <td>
                        <%= link_to '编辑', edit_admin_article_tag_path(tag)%>
                        <%= (link_to '废弃', admin_article_tag_path(tag), method: :delete, data: { confirm: '确定废弃?' }) if tag.enabled %>
                        <%= (link_to '使用', admin_article_tag_set_enabled_path(tag), method: :post, data: { confirm: '确定使用?'}) unless tag.enabled%>
                      </td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr >
                    <td colspan="6">无数据</td>
                  </tr>
                <% end %>
                
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
      <nav class="kaminari" aria-label="Page navigation" style="text-align: right;">
      	<ul class="mui-flex flex-end pagination">
	      	<%= paginate @article_tags, params: {controller: 'admin/article_tags', action: 'index'}%>
	      </ul>
      </nav>
    </div>
  </div>
</div>