<!DOCTYPE html>
<html>
  <head>
    <title>SanmBlog</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href=<%= asset_path("logo.png") %> type="image/x-icon"/>
    <title>三木博客</title>
    <meta name="Keywords" content="blog, 博客, 个人博客">
    <meta name="Description" content="blog, 博客, 个人博客">
    <%= csrf_meta_tags %>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!--amazeui 图库-->
    <link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.css" rel="stylesheet">
    <link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= reload_style %w(common client/layout client/home client/article_show client/about client/archive client/comment client/photo) %>
    <!--字体-->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Comfortaa|Yellowtail" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script|Monoton|Oleo+Script|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">
  </head>

  <body style="background-color: #efefef">
    <header itemscope="itemscope" id="masthead" class="site-header">
      <div class="container mui-flex">
        <div class="site-branding">
          <h1 class="main-title" itemprop="headline">三木</h1>
          <p class="site-description">学习-分享 | 技术-生活</p>
        </div>

        <div class="weather">
          <iframe width="200" scrolling="no" height="65" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1">
          </iframe>
        </div>
      </div>
    </header>
    <nav id="client_navbar" class="navbar navbar-default client_navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
              <span class="sr-only">切换导航</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a href="/client/home" class="navbar-brand nav-title">Sanm1992</a>
        </div>
        <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a class="client_home" href="/client/home">首页</a></li>
            <li class=""><a class="client_archives" href=<%= client_archives_path %>>归档</a></li>
            <li class=""><a class="client_photos" href=<%= client_photos_path %>>相册</a></li>
            <li class=""><a class="client_about" href=<%= client_about_index_path %>>关于</a></li>
          </ul>
        </div>
      </div>
    </nav>
        
    <div class="container sit-container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 main-content">
          <%= yield %>
          <div class="gotop" style="display: none;">
            <i class="am-gotop-icon am-icon-angle-double-up"></i>
          </div>
          
        </div>
        <div class="hidden-xs col-sm-4 col-md-4 right-sidebar">
          <ul>
            <li class="about-me">
              <h3>关于我</h3>
              <div class="thumbnail">
                <img alt="sanm" class="img-rounded img-responsive" src=<%= asset_path("about_me1.jpg") %>>
                <div class="caption">
                  <p>坐标：深圳</p>
                  <p>工作：ruby程序猿</p>
                  <p></p>
                  <p class="mui-flex justify link-me">
                    <a href="https://github.com/sanm1992" class="am-icon-btn am-icon-github" target="_blank" ></a>
                    <a class="am-icon-btn am-icon-weixin weixin" data-container="body" data-toggle="popover" data-placement="bottom" data-content='<img alt="sanm" class="img-rounded img-responsive" src=<%= asset_path("WechatIMG.jpg") %>>'>
                    </a>
                    <a href="https://weibo.com/u/2639321232" class="am-icon-btn am-icon-weibo" target="_blank" ></a>
 
                    <a href="javascript:void(0)" class="am-icon-btn am-icon-twitter not_open"></a>
                    <a href="javascript:void(0)" class="am-icon-btn am-icon-facebook not_open"></a>
                  </p>
                </div>
              </div>
            </li>
            <li class="mark">
              <h3>标签</h3>
              <p class="">
                <%= tag_url %>
              </p>
            </li>
            <li class="new-articles">
              <h3>近期更新</h3>
              <ul>
                <% news.each do |n| %>
                  <li class="news-item">
                    <a href=<%= client_article_path(n['id']) %>><%= n['title'] %></a>

                    <span class="time"><%= format_date n['created_at'] %></span>
                  <li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <footer itemscope="itemscope" class="">
      <div class="mui-flex horicent">
        <span>© 2018 • sanm-blog</span>
      </div>
    </footer>

    <script>
      $(document).ready(function () { 
        // $("[data-toggle='popover']").popover({html : true });
        $('.weixin').popover({html : true })

        var location_pathname = location.pathname;
        var path_array = location_pathname.split("/").filter(s => $.trim(s).length > 0);
        var path = path_array.join("_") ||"client_home";
        $(".navbar-right").find("a").removeClass("active");
        $(".navbar-right").find("."+path).addClass("active");

        $(window).scroll(function(event){
          var winPos = $(window).scrollTop();
          var goTop = $(".gotop");
          var floatNavbar = $("#client_navbar");

          if (winPos > 100) {
            floatNavbar.css("position", "fixed");
            floatNavbar.css("top", "0");
            floatNavbar.css("z-index", "100");
            floatNavbar.css("width", "100%");

          } else {
            floatNavbar.css("position", "");
            floatNavbar.css("top", "");
            floatNavbar.css("z-index", "");
          }

          if(winPos > 400) {
            goTop.show();
          } else {
            goTop.hide();
          }
        });

        $('body').on('click', '.gotop', function(){
          $('html').animate({scrollTop: 0}, '500');
        })

      });
    </script>
  </body>
</html>
